stream_over_http_enabled: true

server:
  http_listen_port: 3200

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

metrics_generator:
  processor:
    service_graphs:
      dimensions:
        - service.name
    span_metrics:
      dimensions:
        - service.name
        - http.method
        - http.route
        - http.status_code
  registry:
    external_labels:
      source: tempo
  storage:
    path: /var/tempo/wal
    remote_write:
      - url: http://prometheus:9090/api/v1/write
        send_exemplars: true

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces
    wal:
      path: /var/tempo/wal
    block:
      bloom_filter_false_positive: 0.05

overrides:
  defaults:
    metrics_generator:
      processors:
        - service-graphs
        - span-metrics
    compaction:
      block_retention: 48h
